/* ======== GERAL ======== */
body{
background-color: #f0f0f0;
margin:0px;/*retirar a margem padrão do navegador*/
padding: 0px;/*retirar o espaçamento padrão do navegador*/
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topo{
background-color:#ffffff;
padding: 0px;
text-align: center;/*centralizar o texto*/
}
.topo img{
  height: 250px;
  width: 100%;
  margin: 0px;
  padding:0px;
}



.menu{ 
  font-size: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  justify-content: center;/* centralizar os itens */
  display: flex; /*usado para deixar todos na mesma linha */
  gap: 25px; /*espaçamento entre os itens */
  flex-wrap: wrap;/* quebrar a linha se necessário*/
  padding: 15px; 
  height: 15px;
  box-shadow: 0px 0px 15px 0px #7a97bd;/*sombra ao redor da caixa*/
 

}
.menu a{
  color: #000000;
  padding: 0px;
  border-radius: 6px;
  background-color: #ffffff;
 

}
.menu a:hover{

text-decoration:underline;
}






h2{
  font-size: 30px;
 
  color: #000000;
  text-align: center;

 
}

  .corpo img{
    width: 500px;/* largura*/
    height: 400px;
    border-radius: 20px;
   
    
  }


ul{ 
font-size: 20px;

list-style-position: outside;/*coloca o marcador fora do texto*/
}
.corpo{
  text-align: center;
  margin: auto;
  max-width: 800px;/*limitar a largura do conteudo*/
  
  background-color: #ffffff;
  border-radius: 0px;
  color: #000000;
  box-shadow: 0px 0px 15px 0px #7a97bd;/*sombra ao redor da caixa*/
  border-radius: 20px;
}
  


 .corpo ul{
  text-align: left;
  color:(80, 80, 80);
 }
 



 .corpo p{
  font-size: 20px;
  text-align: justify;/* alinha o texto dos dois lados*/
  padding: 15px;
  color: rgb(80, 80, 80);
 }
 h2{
  color: rgb(0, 0, 0);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }
 a{
  text-decoration: none; /*tira o sublinhado do link*/
  color: #ffffff;
 }
iframe{
  padding: 50px;
}

.corpo2{
  text-align: center;
  margin: auto;
  max-width: 800px;/*limitar a largura do conteudo*/
  
  background-color: #ffffff;
  border-radius: 0px;
  color: #000000;
  
  display: flex;
}
.corpo2 img{
    width: 500px;/* largura*/
    height: 400px;
    border-radius: 20px;
    margin: 15px;
  }