/* ======== GERAL ======== */
body{
background-color: #f0eff4;
margin:0px

}
.topo{
font-family:monospace;
background-color:#8ca9d3;
text-align: center;
padding: 20px;
color: #f0eff4;;
font-size: 20px;

}
.menu{
  text-align: center;
  background-color: #8ca9d3;
  color: #f0eff4;
 
}
.titulo{
  text-align: right;
  font-family: monospace;
  background-color: #f0eff4;
  color: #8ca9d3;
  padding: 50px;
}
p{
  font-size: 20px;
  color: black;
}
h2{
  font-size: 35px;
}
