/* ======== GERAL ======== */
body{
background-color: #0c131b;
margin:0px;/*retirar a margem padrão do navegador*/
padding: 0px;/*retirar o espaçamento padrão do navegador*/
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.topo{
background-color:#0c131b;
padding: 0px;
text-align: center;/*centralizar o texto*/
}
.topo img{
  height: 300px;
  width: 1351px;
  margin: 0px;
  padding:0px;
}



.menu{ 
  font-size: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0c131b;
  justify-content: center;/* centralizar os itens */
  display: flex; /*usado para deixar todos na mesma linha */
  gap: 25px; /*espaçamento entre os itens */
  flex-wrap: wrap;/* quebrar a linha se necessário*/
  padding: 10px;
}
.menu a{
  color: #ffffff;
  padding: 8px;
  border-radius: 6px;
  background-color: #141f2c;

}
.menu a:hover{
  background-color: #192738;
  border-radius: 10px; /*arredondar os cantos*/
}






h2{
  font-size: 30px;
 
  color: #000000;
  text-align: center;

 
}

  .corpo img{
    width: 500px;/* largura*/
    height: 400px;
    border-radius: 10px;
  }


ul{ 
font-size: 20px;

list-style-position: outside;/*coloca o marcador fora do texto*/
}
.corpo{
  text-align: center;
  margin: auto;
  max-width: 800px;/*limitar a largura do conteudo*/
  box-shadow: 8px 8px 5px 5px #070b0f;/*sombra ao redor da caixa*/
  background-color: #141f2c;
  border-radius: 10px;
  color: #ffffff;

}
 .corpo ul{
  text-align: left;
 }
 
img{
  width:500px;
  height: 400px;
}
 .corpo p{
  font-size: 20px;
  text-align: justify;/* alinha o texto dos dois lados*/
  padding: 15px;
  ;
 }
 h2{
  color: #38f1e2;
 
 }
