/* ======== GERAL ======== */
body {
  background-color: #f0f0f0;
  margin: 0px;
  /*retirar a margem padrão do navegador*/
  padding: 0px;
  /*retirar o espaçamento padrão do navegador*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topo {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  /*centralizar o texto*/
}

.topo img {
  height: 302,
  00px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

.menu {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  justify-content: center;
  /* centralizar os itens */
  display: flex;
  /*usado para deixar todos na mesma linha */
  gap: 25px;
  /*espaçamento entre os itens */
  flex-wrap: wrap;
  /* quebrar a linha se necessário*/
  padding: 15px;
  height: 15px;
  box-shadow: 0px 0px 15px 0px #7a97bd;
  /*sombra ao redor da caixa*/
}

.menu a {
  color: #000000;
  padding: 0px;
  border-radius: 6px;
  background-color: #ffffff;
}

.menu a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  color: #000000;
  text-align: center;
}

.corpo {
  text-align: center;
  margin: auto;
  max-width: 800px;
  /*limitar a largura do conteudo*/

  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 15px 0px #7a97bd;
  /*sombra ao redor da caixa*/
  border-radius: 20px;

  /* padding: 20px; */
  /* border: 20px; */
}

.corpo img {
  width: 33%;
  height: 33%;
  border-radius: 20px;
  margin: 10px;
}


ul {
  font-size: 20px;
  list-style-position: outside;
  /*coloca o marcador fora do texto*/
}

.corpo ul {
  text-align: left;
  color: (80, 80, 80);
}

.corpo p {
  font-size: 20px;
  text-align: justify;
  /* alinha o texto dos dois lados*/
  padding: 15px;
  color: rgb(80, 80, 80);
}

h2 {
  color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
  text-decoration: none;
  /*tira o sublinhado do link*/
  color: #ffffff;
}

iframe {
  padding: 50px;
}




.index{   text-align: center;
  margin: auto;
  max-width: 800px;
  /*limitar a largura do conteudo*/

  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 15px 0px #7a97bd;
  /*sombra ao redor da caixa*/
  border-radius: 20px;

  /* padding: 20px; */
  /* border: 20px; */

}
.corpo1{
   text-align: center;
  margin: auto;
  max-width: 800px;
  /*limitar a largura do conteudo*/

  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 15px 0px #7a97bd;
  /*sombra ao redor da caixa*/
  border-radius: 20px;

  /* padding: 20px; */
  /* border: 20px; */
}
 img{
  width: 400px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid black;
}

  
 .formulario{
 text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #7a97bd;
  width: 400px;
  margin: auto;
  height: 500px;
  border-radius: 20px;
 }
 .formulario button{
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;

  display: inline-block;/* para o botão não ocupar a linha toda */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;/*muda o cursor quando passa por cima do botão */
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px #7a97bd;
 }
.formulario input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
 }
  .formulario textarea{
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: none; /*impede o redimensionamento da caixa de texto */
  }
  .h2 p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  color: black;
   text-align: center;
  }