/* ======== GERAL ======== */
body{
background-color: #f0eff4;
margin:10px;
padding: 0px

}


.topo{
font-family:monospace;
background-color:#8ca9d3;
text-align: center;
color: #f0eff4;;
padding: 10px
}
.topo a{
  
  font-size: 10px
}
.topo h1{
  font-size: 20px;
}

 
}
.titulo{
  text-align: right;
 
  background-color: #f0eff4;
  color: #8ca9d3;
  padding: 0px;
  margin: 0px;
  text-align: center;
  
}
 .titulo p{
  font-size: 15px;
  color: black;
  background-color: white;
  margin: 0px;
  padding: 30px;
  justify-content: center;
}
h2{
  font-size: 20px;
 
  color: #8ca9d3;
  text-align: center;
 
}



.conteudo p{
  background-color: white;
  padding: 10px;
}
.conteudo h3{

}
  .body2{
    background-color: white;
    margin-top: 0px;
  }
  .conteudo img{
    width: 500px;
    height: 400px;
  
    
    
  }
  .conteudo{
  text-align: center;
  }