/* ======== GERAL ======== */
body{
background-color: #f0eff4;
margin:10px;
padding: 0px

}


.topo{
font-family:monospace;
background-color:#8ca9d3;
text-align: center;
color: #f0eff4;;
padding: 10px
}
.topo a{
  text-align: right;
  font-size: 20px
}
.topo h1{
  font-size: 50px;
}

 
}
.titulo{
  text-align: right;
  font-family: monospace;
  background-color: #f0eff4;
  color: #8ca9d3;
  padding: 50px;
  margin: 0px;
  text-align: center;
}
 .titulo p{
  font-size: 30px;
  color: black;
  font-family: monospace;
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 30px;
}
h2{
  font-size: 40px;
  font-family: monospace;
  color: #8ca9d3;
  text-align: center;
 
}

.titulo img{

  width: 500px;
  height: 500px;
align-items: center;
  top: 100px;

}

.conteudo p{
  background-color: white;
  padding: 10px;
}
  .body2{
    background-color: white;
    margin-top: 0px;
  }