/* ======== GERAL ======== */
body{
background-color: #f3f3f3;
margin:0px;
padding: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.topo{
background-color:#f52222;
text-align: center;
color: #ffffff;
padding: 10px;
}

.menu{ 
  font-size: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fd4646;
  text-align: center;
}

.topo h1{
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.5px;
}


h2{
  font-size: 30px;
 
  color: #000000;
  text-align: center;

 
}

  .conteudo img{
    width: 500px;
    height: 400px;
  }
.corpo{
  background-color: white;
}

ul{ 
font-size: 20px;

list-style-position: outside;
}
.corpo{
  text-align: center;
  margin: 15px;
}
 .corpo ul{
  text-align: left;
 }
 .conteudo p{
  font-size: 18px;
 justify-content: center;
 }
img{
  width:500px;
  height: 400px;
}
.topo2 h2{
  color: white;
  font-size: 20px;
  font-family: system-ui, -apple-system,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}